debug/
shell-snapshots/
statsig/
todos/
projects/
session-env/
file-history/
plans/
node_modules
history.jsonl
.credentials.json
plugins/
backups/
cache/
paste-cache/
sessions/
tasks/
mcp-needs-auth-cache.json
